.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    height: 100%;
}
.wrapper>div>img {
    padding: 20px;
    max-width:100%;
    height:auto;
}

.two, .one {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    text-align: center;
}

.two {
    border-left: 2px dashed black;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}  
body {
    background-color: #292929;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}
a {
    color: #ffffff;
    text-decoration: none;
}
a:hover {
    color: #ffffff;
}
.inner {
    width: 40%;
    margin-right: 30%;
    text-align:center;
}
.activity {
}
.activity li {
    -webkit-transition: box-shadow 0.2s ease;
    -moz-transition: box-shadow 0.2s ease;
    transition: box-shadow 0.2s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 50%;
    color: #ffffff;
    display: inline-block;
    font-size: .889em;
    height: 4em;
    margin: 0 1em 1em;
    position: relative;
    text-align: center;
    text-transform: lowercase;
    width: 4em;
    line-height: 4em;
}
.activity li a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.activity li:hover {
    box-shadow: 0 0 0 7px #fff;
}
.activity li:hover:before {
    -webkit-transform: scale(0.925);
    -moz-transform: scale(0.925);
    -ms-transform: scale(0.925);
    -o-transform: scale(0.925);
    transform: scale(0.925);
    box-shadow: 0 0 0 1px #fff;
    opacity: .5;
}
.activity li:before {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border-radius: 50%;
    bottom: 0;
    box-shadow: 0 0 0 1px #fff;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}


/*  */

.button-circle {
	width: 120px; height: 120px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	margin: 15px;
	border-radius: 100%;
    float: left;
    margin-left: -6%;
    margin-top: -3%;
    cursor: initial;
}

.button {
	background: #1d1d1d;
	font-family: 'Orbitron', sans-serif;
	font-size: 1.2em;
	text-align: center;
	color: #fff;	
	position: absolute;
	top: 10px;
	left: 10px;
}
.button-circle .button {
	width: 100px; height: 100px;
	border-radius: 100%;
}

/*=================*/
/*====GRADIENT====*/
.gradient, .gradient:after {
	display: block;
	content: "";
	width: 400px; height: 120px;
	background: #bd328f;
	background: -moz-linear-gradient(-45deg,  #bd328f 0%, #bd328f 18%, #2976ab 42%, #292f75 62%, #bd328f 82%, #bd328f 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#bd328f), color-stop(18%,#bd328f), color-stop(42%,#2976ab), color-stop(62%,#292f75), color-stop(82%,#bd328f), color-stop(100%,#bd328f));
	background: -webkit-linear-gradient(-45deg,  #bd328f 0%,#bd328f 18%,#2976ab 42%,#292f75 62%,#bd328f 82%,#bd328f 100%);
	background: -o-linear-gradient(-45deg,  #bd328f 0%,#bd328f 18%,#2976ab 42%,#292f75 62%,#bd328f 82%,#bd328f 100%);
	background: -ms-linear-gradient(-45deg,  #bd328f 0%,#bd328f 18%,#2976ab 42%,#292f75 62%,#bd328f 82%,#bd328f 100%);
	background: linear-gradient(135deg,  #bd328f 0%,#bd328f 18%,#2976ab 42%,#292f75 62%,#bd328f 82%,#bd328f 100%);
}

.gradient {
	animation: 8s anim linear infinite;
}

.gradient:after {
	transform: translateX(400px);
}

@keyframes anim{
	0% {transform: translateX(0px) ;}
	100% {transform: translateX(-400px) ;}
}


.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }