<ng-template #loading>
  <div class="col-12" style="text-align: center; padding: 2rem;">
    Chargement...<br>
    <div class="lds-hourglass"></div>
  </div>
</ng-template>



<ng-container *ngIf="isLoaded; else loading">
  <div class="wrapper">
    <div class="one">
      <div class="blank"></div>
      <div>{{item_1}}</div>
      <div>{{qttItem_1}}</div>
      <div class="blank"></div>
    </div>
    <div class="two">
      <div class="blank"></div>
      <div>
        <span>{{item_2}}</span>
        <p>
          <button id="button" value="button" (click)="play('+')"> +</button>
          OR
          <button id="button" value="button" (click)="play('-')"> -</button>
        </p>
        <div class="button-circle">
          <div class="gradient"></div>
          <div class="button">
            <div style="margin-top: 20%;">VS</div>
          </div>
        </div>
      </div>
      <div class="blank"></div>
    </div>
  </div>
  <!-- <section>
    <div class="inner">
      <ul class="activity">
        <li>
          <a href="#">VS</a>
        </li>
      </ul>
    </div>
</section> -->
</ng-container>