<div class="main-container">
    <ng-container>
        <header class="header header-6">
            <div class="branding">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a routerLink="/accueil" class="nav-link"> Accueil </a>
                    <a routerLink="/dashboard" class="nav-link"> Dashboard </a>
                    <div id="score_label" class="navbar-text navbar-nav ml-auto">Score : {{scoreService.score}}</div>
                </nav>              
            </div>
        </header>

        <div class="content-container">
            <div class="content-area">
                <router-outlet></router-outlet>
            </div>
        </div>
    </ng-container>
</div>