/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Solway&display=swap');

html
{
    height: 100%;
    width: 100%;
    font-size: xx-large;
    
}
body
{
    height: 100%;
    width: 100%;
    background: linear-gradient(#e66465, #9198e5);
    font-family: 'Solway', serif !important;
}