
<div class="main_container_accueil">
    <div id="title_accueil">
        <h1>
            PolyName
        </h1>
    </div>
    
      
    <div class="accueil_center" style="text-align: center">
      <h2 style="margin-top: 5%; margin-bottom: 2%;">
        Choix du mode de jeu :
      </h2>
      <div style="margin-top:7%;">
        <button type="button" class="btn btn-outline-primary backgroundButton1" (click)="goTo('Name')">Prénom vs Prénom</button>
        <button type="button" class="btn btn-outline-secondary backgroundButton2" (click)="goTo('Crime')">Crime vs Crime </button>
        <button type="button" class="btn btn-outline-success backgroundButton3" (click)="goTo('bla')">Prénom vs blabla</button>
        <button type="button" class="btn btn-outline-danger backgroundButton4" (click)="goTo('bla')">Prénom vs blabla</button>
      </div> 
    </div>
</div>
