@import "../../../styles.css";

#title_accueil
{
    text-align:center;
    margin-top: 3%;
}

button
{
    margin-right: 2%;
}

.main_container_accueil
{
    height: 100%;
    width: 100%;   
    color:white;
}

.backgroundButton1 {
    background-color: lightskyblue;
    color: white;
}

.backgroundButton2 {
    background-color: lightslategray;
    color: white;
}

.backgroundButton3 {
    background-color: lightgreen;
    color: white;
}

.backgroundButton4 {
    background-color: lightcoral;
    color: white;
}