<ng-template #loading>
    <div class="col-12" style="text-align: center; padding: 2rem;">
        Chargement...<br>
        <div class="lds-hourglass"></div>
      </div>
</ng-template>

<ng-container *ngIf="isLoadedName && isLoadedCrime; else loading">
    <div class="row">
        <div class="col-12 m-4">
            <div class="card">
                <div class="row">
                    <div class="col-6">
                        <form [formGroup]="formName">
                            <div class="row">
                                <label>Prénom</label>
                                <input #nom formControlName="nom">
                            </div>
                            <div class="row">
                                <label>Departement</label>
                                <select #departement formControlName="departement">
                                    <option></option>
                                    <option *ngFor="let dpt of departements">{{dpt.dptId}} - {{dpt.libelle}}</option>
                                </select>
                                <label>Année</label>
                                <select #annee formControlName="annee">
                                    <option></option>
                                    <option *ngFor="let a of annees">{{a}}</option>
                                </select>
                                <button (click)="searchName()">Search</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-6">
                        <h1>{{numberForName}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-5 m-4">
            <div class="card">
                <h5 class="card-header">Top 10 des prénoms</h5>
                <p>Donnés entre 1900 et 2018 <br><i>par sexe, département et année</i></p>
                <div class="card-body">
                    <form [formGroup]="formTop10">
                    <div class="row">
                        <div class="col-2">
                            <div class="row">
                                <label>Sexe</label>
                            </div>
                            <div class="row">
                                <select #sexe formControlName="sexe">
                                    <option></option>
                                    <option>M</option>
                                    <option>F</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="row">
                                <label>Departement</label>
                            </div>
                            <div class="row">
                                <select #departement formControlName="departement">
                                    <option></option>
                                    <option *ngFor="let dpt of departements">{{dpt.dptId}} - {{dpt.libelle}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="row">
                                <label>Année</label>
                            </div>
                            <div class="row">
                                <select #annee formControlName="annee">
                                    <option></option>
                                    <option *ngFor="let a of annees">{{a}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    </form>
                    <canvas
                        baseChart
                        [datasets]="namesData"
                        [labels]="namesLabels"
                        [options]="namesOptions"
                        [legend]="namesLegend"
                        [chartType]="namesChartType"
                        [colors]="namesColor"
                    >
                    </canvas>
                    <div class="row">
                        <div class="col-6">

                        </div>
                        <div class="col-6">
                            <a type="button" class="btn btn-info"  [href]="downloadJsonHref" download="data.json">Export to json</a>
                            <a [href]="downloadJsonHrefSchema" download="schema.json">Schéma</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5 m-4">
            <div class="card">
                <h5 class="card-header">Crimes</h5>
                <p>En 2011 <br><i>par département ou par crime</i></p>
                <div class="card-body">
                    <form [formGroup]="formCrimes">
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <label>Departement</label>
                                </div>
                                <div class="row">
                                    <select #departement formControlName="departement">
                                        <option></option>
                                        <option *ngFor="let dpt of departements">{{dpt.dptId}} - {{dpt.libelle}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <label>Crimes</label>
                                </div>
                                <div class="row">
                                    <select #crime formControlName="crime">
                                        <option></option>
                                        <option *ngFor="let crime of crimes">{{crime.libelle}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <ng-template #number>
                        <h1>{{crimeStat.qtt}}</h1>
                        <p>{{crimeStat.libelle}}</p>
                    </ng-template>
                    <div *ngIf="crimesChart; else number">
                        <canvas baseChart
                            [chartType]="crimesChartType"
                            [datasets]="crimesDatasets"
                            [labels]="crimesLabels"
                            [options]="crimesOptions"
                            [legend]="false"
                            (chartHover)="crimesChartHovered($event)"
                            (chartClick)="crimesChartClicked($event)"
                        >
                        </canvas>
                    </div>
                    <div class="row">
                        <div class="col-6">

                        </div>
                        <div class="col-6">
                            <a type="button" class="btn btn-info">Export to xml</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>